* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    margin: 20px 0px 25px 125px;
}
nav ul li {
    list-style-type: none;
    font-size: 17px;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    color: rgb(46, 143, 2);
    transition: .3s;
}
.icon{
    display: flex;
    justify-content: center;
    padding-right: 40px;
}
.icon-sub{
    justify-content: space-between;
    padding-left: 20px;
}

/* Head */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background: linear-gradient(to right, #E6F4D0 0%, #AAE897 90%);
    padding: 25px 100px;
}
form.search {
    border: none;
    padding: 0;
}
   
input.search {
    border: 1px solid #555;
    width: 100%;
    border-radius: 5px;
    padding: 9px 4px 9px 80vh;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.background-head-1{
    display: block;
    width: auto;
    height: 10vh;
    padding: 0px 100px;
}
.background-head-1 h1{
    padding-top: 17px;
}
.background-head-2{
    display: flex;
    gap: 20px;
    width: auto;
    height: 57vh;
    padding: 0px 100px;
}
.backgroun-1{
    width: 20vh;
}
.filter{
    background-color: #E6F4D0;
    padding-top: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.filter h4{
    padding-left: 5px;
}
.category{
    padding-top: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 21vh;
}
.category h4{
    padding-top: 5px;
    padding-left: 5px;
}
.sub-category{
    padding-top: 5px;
    padding-left: 15px;
}
.detail-category{
    padding-top: 3px;
    display: flex;
    justify-content: space-between;
}
.background-head-6{
    display: flex;
    gap: 20px;
    align-items: center;
    width: auto;
    margin-top: 40px;
    flex-direction: 'row';
    padding: 0px 100px;
}
.background-head-6-container{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 8px;
}
.background-head-6-container-label{
    background-color: #EA3E47;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 200px;
    color: white;
    position: relative;
    top: 10px;
}
.background-head-6-sub-container{
    padding: 16px 24px 16px 24px;
}
.background-head-6-sub-container img{
    height: 190px;
    padding: 0px 0px 0px 0px;
}
.background-head-6-container h4{
    font-size: 25px;
    margin-top: 5px;
}
.background-head-6-container p{
    font-size: 20px;
    margin-top: 10px;
}
.content-9 button{
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    background-color: #2D8939;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 75px 10px 75px;
    border-radius: 4px;
    margin-top: 8px;
}
span{
    color: yellow;
    font-size: 20px
}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}
.rating > span:hover ~ span:before {
    content: "\2606";
}
.pagination {
    padding-top: 60px;
    display: inline-block;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
}  
.pagination a:hover:not(.active) {background-color: #ddd;}
.background-head-3{
    display: flex;
    justify-content: center;
}
.background-head-5{
    display: block;
    gap: 20px;
    width: auto;
    height: 57vh;
    margin-top: 40px;
    padding: 0px 100px;
    background: linear-gradient(to right, #E6F4D0 0%, #AAE897 90%);
}
.container-2{
    padding: 40px 0;
    width: 50vh;
}
.container-2 p{
    padding-top: 20px;
    color: #727270;
}
.container-2 h1{
    padding-top: 20px;
    color: #69975E;
}
.container-3{
    display: flex;
}
.container-4{
    padding-top: 100px;
}
.container-footer-1{
    padding-right: 25px;
    color: #69975E;
}
.container-footer-1 a{
    display: list-item;
    text-decoration: none;
    color: #727270;
}
.container-footer-2 { 
    text-decoration: none;
    color: #69975E;
}
.container-footer-2 a{ 
    text-decoration: none;
    color: #727270;
}