* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    margin: 20px 0px 25px 125px;
}
nav ul li {
    list-style-type: none;
    font-size: 17px;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    color: rgb(46, 143, 2);
    transition: .3s;
}
.icon{
    display: flex;
    justify-content: center;
    padding-right: 40px;
}
.icon-sub{
    justify-content: space-between;
    padding-left: 20px;
}

/* Head */
.container{
    display: flex;
    align-items: center;
    width: auto;
    background: linear-gradient(to right, #E6F4D0 0%, #AAE897 90%);
    padding: 25px 100px;
}
.container h1{
    padding-left: 15px;
    color: #69975E;
}
.background-head-1{
    display: block;
    gap: 20px;
    width: auto;
    height: 60vh;
    margin-top: 40px;
    padding: 0px 100px;
}
.form-container-1{
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    border-radius: 4px;
    height: 55px;
}
input{
    width: 90%;
    height: 100%;
    color: #4CAF50;
    border-radius: 4px;
}
.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
.form-container-2{
    display: flex;
    justify-content: center;
}
.background-head-5{
    display: block;
    gap: 20px;
    width: auto;
    height: 57vh;
    margin-top: 40px;
    padding: 0px 100px;
    background: linear-gradient(to right, #E6F4D0 0%, #AAE897 90%);
}
.container-2{
    padding: 40px 0;
    width: 50vh;
}
.container-2 p{
    padding-top: 20px;
    color: #727270;
}
.container-2 h1{
    padding-top: 20px;
    color: #69975E;
}
.container-3{
    display: flex;
}
.container-4{
    padding-top: 100px;
}
.container-footer-1{
    padding-right: 25px;
    color: #69975E;
}
.container-footer-1 a{
    display: list-item;
    text-decoration: none;
    color: #727270;
}
.container-footer-2 { 
    text-decoration: none;
    color: #69975E;
}
.container-footer-2 a{ 
    text-decoration: none;
    color: #727270;
}