* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    margin: 20px 0px 25px 125px;
}
nav ul li {
    list-style-type: none;
    font-size: 17px;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    color: rgb(46, 143, 2);
    transition: .3s;
}
.icon{
    display: flex;
    justify-content: center;
    padding-right: 40px;
}
.icon-sub{
    justify-content: space-between;
    padding-left: 20px;
}

/* Head */
.container{
    display: flex;
    align-items: center;
    width: auto;
    background: linear-gradient(to right, #E6F4D0 0%, #AAE897 90%);
    padding: 25px 100px;
}
.container h1{
    padding-left: 15px;
    color: #69975E;
}
.background-head-1{
    display: block;
    gap: 20px;
    width: auto;
    height: 8vh;
    padding: 0px 100px;
}
.sub-nav{
    text-decoration: none;
}
.page-sub-nav{
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
.page-sub-nav a{
    color: black;
}
.page-sub-nav a:hover{
    color: rgb(46, 143, 2);
    transition: .3s;
}
.background-head-2{
    display: block;
    width: auto;
    height: 50vh;
    padding: 0px 100px;
}
.box{
    box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2);
    height: 28vh;
    border-radius: 4px;
    padding-left: 40px;
    padding-top: 10px;
}
.background-1{
    display: flex;
}
.price{
    padding-left: 20px;
}
.detail{
    padding-left: 20px;
}
p{
    color: #A7A7A7;
}
.detail-2{
    display: flex;
}
.button-main{
    padding-left: 20px;
    height: 10px;
}
.form-control-1{
    height: 25px;
    width: 30vh;
}
.button-1{
    background-color: #2D8939;
    height: 27px;
    border: none;
    width: 60px;
    border-radius: 4px;
    color: white;
}
.detail-3{
    display: flex;
    padding-top: 5px
}
.detail-3 h2{
    color: #69975E;
}
.button{
    padding-left: 20px;
}
.button-2{
    background-color: #2D8939;
    height: 5vh;
    border: none;
    width: 30vh;
    border-radius: 4px;
    color: white;
}
.background-head-5{
    display: block;
    gap: 20px;
    width: auto;
    height: 57vh;
    margin-top: 40px;
    padding: 0px 100px;
    background: linear-gradient(to right, #E6F4D0 0%, #AAE897 90%);
}
.container-2{
    padding: 40px 0;
    width: 50vh;
}
.container-2 p{
    padding-top: 20px;
    color: #727270;
}
.container-2 h1{
    padding-top: 20px;
    color: #69975E;
}
.container-3{
    display: flex;
}
.container-4{
    padding-top: 100px;
}
.container-footer-1{
    padding-right: 25px;
    color: #69975E;
}
.container-footer-1 a{
    display: list-item;
    text-decoration: none;
    color: #727270;
}
.container-footer-2 { 
    text-decoration: none;
    color: #69975E;
}
.container-footer-2 a{ 
    text-decoration: none;
    color: #727270;
}